<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/server/tomcat/tomcat7/apache-tomcat-7.0.54.stock/logs/stock/stock.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/server/tomcat/tomcat7/apache-tomcat-7.0.54.stock/logs/stock/stock.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%X{logback.sessionId} %X{logback.ip} %d{yyyy-MM-dd} %date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="com.xu" level="info"/>
    <logger name="com.xu.util.HttpClientHandle" level="info"/>
	<logger name="org.springframework" level="info"/>
	<logger name="com.alibaba.druid" level="info"/>
	<logger name="org.springframework.amqp.rabbit" level="error"/>
    <root level="info">
           <appender-ref ref="console"/> 
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>